body {
    background-color: #fcdcdc;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: "Roboto", sans-serif;;
}


  

.container {
    background: #fcdcdc;
    padding: 20px 40px;
    border-radius: 20px;
    box-shadow: 0 0px 0px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #d9534f;
    margin-bottom: 20px;
}

img {
    width: 150px;
    margin: 20px 0;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

button {
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s;
}

.yes {
    background-color: #5cb85c;
    color: white;
}

.no {
    background-color: #d9534f;
    color: white;
}

.yes:hover {
    background-color: #4cae4c;
}

.no:hover {
    background-color: #c9302c;
}